SOAP-Cliente-Servidor/ClienteSOAP/src/META-INF/ServidorSoapSD.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws/" name="ServidorSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws/" schemaLocation="http://localhost:8084/ServSOAP/ServidorSoapSD?xsd=1" />
</xsd:schema>
</types>
<message name="adicionaVeiculo">
<part name="parameters" element="tns:adicionaVeiculo" />
</message>
<message name="adicionaVeiculoResponse">
<part name="parameters" element="tns:adicionaVeiculoResponse" />
</message>
<message name="deletaVeiculo">
<part name="parameters" element="tns:deletaVeiculo" />
</message>
<message name="deletaVeiculoResponse">
<part name="parameters" element="tns:deletaVeiculoResponse" />
</message>
<message name="consultaVeiculo">
<part name="parameters" element="tns:consultaVeiculo" />
</message>
<message name="consultaVeiculoResponse">
<part name="parameters" element="tns:consultaVeiculoResponse" />
</message>
<message name="listaTipo">
<part name="parameters" element="tns:listaTipo" />
</message>
<message name="listaTipoResponse">
<part name="parameters" element="tns:listaTipoResponse" />
</message>
<message name="listaPosicaoVeiculo">
<part name="parameters" element="tns:listaPosicaoVeiculo" />
</message>
<message name="listaPosicaoVeiculoResponse">
<part name="parameters" element="tns:listaPosicaoVeiculoResponse" />
</message>
<message name="alteraVeiculo">
<part name="parameters" element="tns:alteraVeiculo" />
</message>
<message name="alteraVeiculoResponse">
<part name="parameters" element="tns:alteraVeiculoResponse" />
</message>
<portType name="ServidorSoapSD">
<operation name="adicionaVeiculo">
<input wsam:Action="http://soap.ws/ServidorSoapSD/adicionaVeiculoRequest" message="tns:adicionaVeiculo" />
<output wsam:Action="http://soap.ws/ServidorSoapSD/adicionaVeiculoResponse" message="tns:adicionaVeiculoResponse" />
</operation>
<operation name="deletaVeiculo">
<input wsam:Action="http://soap.ws/ServidorSoapSD/deletaVeiculoRequest" message="tns:deletaVeiculo" />
<output wsam:Action="http://soap.ws/ServidorSoapSD/deletaVeiculoResponse" message="tns:deletaVeiculoResponse" />
</operation>
<operation name="consultaVeiculo">
<input wsam:Action="http://soap.ws/ServidorSoapSD/consultaVeiculoRequest" message="tns:consultaVeiculo" />
<output wsam:Action="http://soap.ws/ServidorSoapSD/consultaVeiculoResponse" message="tns:consultaVeiculoResponse" />
</operation>
<operation name="listaTipo">
<input wsam:Action="http://soap.ws/ServidorSoapSD/listaTipoRequest" message="tns:listaTipo" />
<output wsam:Action="http://soap.ws/ServidorSoapSD/listaTipoResponse" message="tns:listaTipoResponse" />
</operation>
<operation name="listaPosicaoVeiculo">
<input wsam:Action="http://soap.ws/ServidorSoapSD/listaPosicaoVeiculoRequest" message="tns:listaPosicaoVeiculo" />
<output wsam:Action="http://soap.ws/ServidorSoapSD/listaPosicaoVeiculoResponse" message="tns:listaPosicaoVeiculoResponse" />
</operation>
<operation name="alteraVeiculo">
<input wsam:Action="http://soap.ws/ServidorSoapSD/alteraVeiculoRequest" message="tns:alteraVeiculo" />
<output wsam:Action="http://soap.ws/ServidorSoapSD/alteraVeiculoResponse" message="tns:alteraVeiculoResponse" />
</operation>
</portType>
<binding name="ServidorSoapSDPortBinding" type="tns:ServidorSoapSD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="adicionaVeiculo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletaVeiculo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultaVeiculo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaTipo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaPosicaoVeiculo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="alteraVeiculo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServidorSOAP">
<port name="ServidorSoapSDPort" binding="tns:ServidorSoapSDPortBinding">
<soap:address location="http://localhost:8084/ServSOAP/ServidorSoapSD" />
</port>
</service>
</definitions>